.honey{
  display : none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid black;
    width: 900px;
    .description{
        width:250px;
        height:100px
    }
    input, textarea{

        padding: 10px;
        margin: 15px;
    }
}
